## Download data

Used pandas dataframe to contain all data collected in "All_publications_fin_

## Download data

Use pandas dataframe to contain all data collected from data collection into the file "All_data_fin_Scopus+Scimago.xlsx"

In [153]:
import pandas as pd

file_path = "All_data_fin_Scopus+Scimago.xlsx"
df = pd.read_excel(file_path, index_col = 0)
df

,eid,doi,subtypeDescription,coverDate,publicationName,aggregationType,volume,issueIdentifier,pageRange,citedby_count,...,Total Docs. (2014),Total Docs. (2015),Total Docs. (2016),Total Docs. (2017),Total Docs. (2018),Total Docs. (2019),Total Docs. (2020),Total Docs. (2021),Total Docs. (2022),Title
1,2-s2.0-84891116423,NaN,Article,2013-12-31,International Journal of Intangible Heritage,Journal,8.0,NaN,19-36,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2-s2.0-84890442458,10.1007/s10745-013-9614-8,Article,2013-12-01,Human Ecology,Journal,41.0,6,905-914,128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2-s2.0-84887148964,10.1007/s10668-013-9446-0,Article,2013-12-01,"Environment, Development and Sustainability",Journal,15.0,6,1477-1494,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2-s2.0-84897839499,10.1080/1533015X.2013.876250,Article,2013-10-01,Applied Environmental Education and Communication,Journal,12.0,4,224-234,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2-s2.0-84884132626,10.1177/1075547012470821,Article,2013-10-01,Science Communication,Journal,35.0,5,572-602,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,2-s2.0-85118639900,10.1080/10509208.2021.1996310,Article,2023-01-01,Quarterly Review of Film and Video,Journal,40.0,2,187-214,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Role of Forest and Environmental Conservat...
675,2-s2.0-85114873429,10.1080/02635143.2021.1978421,Article,2023-01-01,Research in Science and Technological Education,Journal,41.0,3,961-982,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Teaching and environmentalism: a deduction fro...
676,2-s2.0-85108819834,10.1080/14729679.2021.1935284,Article,2023-01-01,Journal of Adventure Education and Outdoor Lea...,Journal,23.0,1,25-37,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Autoethnographic stories for self and environm...
677,2-s2.0-85106234545,10.1080/02508281.2021.1920755,Article,2023-01-01,Tourism Recreation Research,Journal,48.0,3,399-418,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environmental attitudes and behaviour of birdw...
678,2-s2.0-85098000431,10.1080/09669582.2020.1858091,Article,2023-01-01,Journal of Sustainable Tourism,Journal,31.0,2,442-459,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Perceived social impacts of tourism and qualit...

Find the number of publications by year, by utilizing value_count() and counting occurences in the column "year".

In [155]:
year_counts = df['year'].value_counts()
year_counts = year_counts.sort_values()
year_counts.index.name = 'count'
# Reset the index to turn 'year' into a regular column
year_counts = year_counts.reset_index()

# Rename the 'year' column to 'count'
year_counts = year_counts.rename(columns={'year': 'count', "count":"year"})

year_counts.to_csv('./Data_for_visualization/Count_yearly_publications.csv', header=True, index_label='index')

# Quartile count for every year

In [182]:
quartile_count_df = df.groupby(['year', 'SJR Best Quartile']).size().reset_index(name='Count')
quartile_count_df_filtered = quartile_count_df[quartile_count_df['SJR Best Quartile'] != '-']

quartile_count_df_filtered = quartile_count_df_filtered.copy()
quartile_count_df_filtered.rename(columns={"SJR Best Quartile": "quartile"}, inplace=True)

# Create a pivot table to fill in missing quartile with zeros
quartile_count_df_pivot = quartile_count_df_filtered.pivot_table(index='year', columns='quartile', values='Count', fill_value=0).reset_index()

# Reshape the DataFrame for consistency
quartile_count_df_pivot = quartile_count_df_pivot.melt(id_vars='year', value_name='Count')

quartile_count_final = quartile_count_df_pivot.sort_values(["year", "quartile"]).reset_index(drop=True)

quartile_count_final.to_csv('./Data_for_visualization/Count_quartile_year.csv', header=True, index_label='index')

In [177]:
quartile_count_final

    index  year quartile  Count
0       0  2013       Q1     23
1      10  2013       Q2      8
2      20  2013       Q3      8
3      30  2013       Q4      1
4       1  2014       Q1     15
5      11  2014       Q2     10
6      21  2014       Q3      1
7      31  2014       Q4      1
8       2  2015       Q1     31
9      12  2015       Q2      7
10     22  2015       Q3      1
11     32  2015       Q4      0
12      3  2016       Q1     24
13     13  2016       Q2      4
14     23  2016       Q3      1
15     33  2016       Q4      1
16      4  2017       Q1     15
17     14  2017       Q2     10
18     24  2017       Q3      1
19     34  2017       Q4      3
20      5  2018       Q1     28
21     15  2018       Q2      6
22     25  2018       Q3      6
23     35  2018       Q4      1
24      6  2019       Q1     42
25     16  2019       Q2      8
26     26  2019       Q3      4
27     36  2019       Q4      0
28      7  2020       Q1     35
29     17  2020       Q2     20
30     27  2020       Q3      6
31     37  2020       Q4      1
32      8  2021       Q1     53
33     18  2021       Q2     10
34     28  2021       Q3      5
35     38  2021       Q4      2
36      9  2022       Q1     49
37     19  2022       Q2     11
38     29  2022       Q3      3
39     39  2022       Q4      1

# Keyword counts

Finding keyword count by itterating over the all keywords and recording the count of them in a dictionary. 

As some of the keywords are written in plural form and some in singular form, the package inflect is utilized to make all words into singular form

Furthermore some of the spellings are american, while otheres are british. To still count these words as the same keyword a dictionary containg the american and the british spellin is utilized. In this way all keywords are written in American english, making so that there are not duplicates.

In [157]:
# Split the 'Author Keywords' column by ';'
df['Author Keywords'] = df['Author Keywords'].str.split(';')

In [73]:
#!pip install inflect

Collecting inflect
  Downloading inflect-7.0.0-py3-none-any.whl.metadata (21 kB)
Collecting pydantic>=1.9.1 (from inflect)
  Downloading pydantic-2.5.3-py3-none-any.whl.metadata (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.6/65.6 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions in /Users/silje/anaconda3/envs/information_visualization/lib/python3.8/site-packages (from inflect) (4.9.0)
Collecting annotated-types>=0.4.0 (from pydantic>=1.9.1->inflect)
  Using cached annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.14.6 (from pydantic>=1.9.1->inflect)
  Downloading pydantic_core-2.14.6-cp38-cp38-macosx_11_0_arm64.whl.metadata (6.5 kB)
Downloading inflect-7.0.0-py3-none-any.whl (34 kB)
Downloading pydantic-2.5.3-py3-none-any.whl (381 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.9/381.9 kB 9.9 MB/s eta 0:00:00
Downloading pydantic_core-2.14.6-cp38-cp38-macosx_11_0_arm64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 33.6 MB/s eta 0:00:00 MB/s eta 0:00:01
Using cached annotated_types-0.6.0-py3-none-any.whl (12 kB)
Installing collected packages: pydantic-core, annotated-types, pydantic, inflect
Successfully installed annotated-types-0.6.0 inflect-7.0.0 pydantic-2.5.3 pydantic-core-2.14.6
Note: you may need to restart the kernel to use updated packages.

In [158]:
import requests
import inflect
p = inflect.engine()
url ="https://raw.githubusercontent.com/hyperreality/American-British-English-Translator/master/data/british_spellings.json"
british_to_american_dict = requests.get(url).json()   

keyword_counts = {}
for index, row in df.iterrows():
    keywords = row['Author Keywords']
    if isinstance(keywords, list):
        for keyword in keywords:
            keyword = keyword.strip().lower()
            keyword_singular = p.singular_noun(keyword)
            if keyword_singular != False:
                keyword=keyword_singular
            for british_spelling, american_spelling in british_to_american_dict.items():
                keyword= keyword.replace(british_spelling, american_spelling)
            keyword_counts[keyword] = keyword_counts.get(keyword, 0) + 1
# Create a DataFrame from the dictionary
df_keyword_counts = pd.DataFrame(list(keyword_counts.items()), columns=['keyword', 'count'])
df_keyword_counts_sorted = df_keyword_counts.sort_values(by='count', ascending=False)
df_keyword_counts_sorted = df_keyword_counts_sorted.reset_index(drop=True)
df_keyword_counts_filterd = df_keyword_counts_sorted[df_keyword_counts_sorted['count'] > 3]
df_keyword_counts_filterd.to_csv('./Data_for_visualization/keyword_count.csv', header=True)